/*GtkButton {
    color: #000000;
    background-color: #000000;
}*/
* {
    color: #d3bd87;
    background-color: #2f383e;
}
/*GtkWindow {

    background-color: #000000;
}

GtkLabel{
    color: #ff0000;
}*/

